@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #070709;
  --foreground: #e2e8f0;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

/* Ультра-минималистичный скроллбар */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #070709;
}
::-webkit-scrollbar-thumb {
  background: #161622;
  border-radius: 99px;
}
::-webkit-scrollbar-thumb:hover {
  background: #6d28d9;
}